body {
    font-family: Helvetica, Arial, sans-serif;
    
}

h1, h2, h3, h4 {
    color: #525252;
    background-color: #ccf2ff;
    text-align: center;
}

.description, .ingredient-list, .steps-container {
    background-color: #cae7f6;
    text-align: center;
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingredientUL, .stepsOL {
    display: inline-block;
    text-align: left;
}
